<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        {% load staticfiles %}
        <link rel="stylesheet" href="{% static 'appointment/css/style.css' %}"media="screen" title="no title"  charset="utf-8">
        <title></title>
    </head>
    <body>
        <header>
            <h1>Welcome, {{request.session.name}}! {{date}}</h1>
            <a id="second" href="{% url 'log:logout' %}" id="logout">Log Out</a>
        </header>
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <div id="wrapper">
            <h4>Here are your appointments for today,</h4>

            <table>
                <tr>
                    <th>Task</th>
                    <th>Time</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
                {% for app in task %}
                {% if app.date == date %}
                <tr>
                    <td>{{app.task}} </td>
                    <td>{{app.time}} </td>
                    <td>{{ app.status }}</td>
                    {% if app.status != 'done' %}
                    <td><a href="{% url 'appoint:task' app.id %}">Edit</a> <a href="{% url 'appoint:delete' app.id %}">Delete</a></td>
                    {% endif %}
                </tr>
                {% endif %}
                {% endfor %}
            </table>
            <table>
                <tr>
                    <th>Task</th>
                    <th>Date</th>
                    <th>Time</th>
                </tr>
                {% for app in task %}
                <tr>
                    <td>{{app.task}} </td>
                    <td>{{app.date}}</td>
                    <td>{{app.time}}</td>
                </tr>
                {% endfor %}
            </table>

            <form class="" action="{% url 'appoint:add' %}" method="post">
                {% csrf_token %}
                <label for="">Date:</label>
                <input type="date" name="date" value=""><br>
                <label for="">Time:</label>
                <input type="time" name="time" value=""><br>
                <label for="">Task:</label>
                <input type="text" name="task" value=""><br>
                <button type="submit" name="button">Add</button>

            </form>

        </div>
    </body>
</html>
